.header-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;

  max-height: 150px;
  .logo {
    max-height: 100px;
    max-width: 150px;
    margin-bottom: 15px;
  }
}
